@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #78b3cf;
    scale: 180%;
  }

  .container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    border-color: transparent;
    cursor: default;
    transition: box-shadow 0.6s ease-in-out;
}
  .container:hover {
    box-shadow:
        0 2px 4px hsl(0deg 0% 0% / 0.1),
        0 4px 8px hsl(0deg 0% 0% / 0.1),
        0 8px 16px hsl(0deg 0% 0% / 0.1),
        0 16px 32px hsl(0deg 0% 0% / 0.1),
        0 32px 64px hsl(0deg 0% 0% / 0.1)
    ;
} 
  /*Confirm Clear Popout*/

  .popup-container { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 999;
    backdrop-filter: blur(5px);
  }

  .popup {
    user-select: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
  }

  .popup-btn {
    margin: 0 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    border: 0;
    background: transparent;
    color: #262626;
    opacity: 1;
  }  

  h1 {
      text-align: center;
      color: #262626;
      user-select: none;
    }
    
  input[type="text"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-color: transparent;
    background-color: transparent;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  input[type="text"]:focus {
    outline: 0;
    box-shadow: 0px 5px 8px #888;
  }

  ul {
    user-select: none;
    font-family: 'Nunito' sans-serif;
    font-weight: bold;
    color: #737373;
  }
  
  li {
    padding: 2px;
  }

  .completed {
  text-decoration: line-through;
  color: #999;
  cursor: default;
}

.creation-date {
  font-size: 0.8em;
  color: #999;
  font-weight: bold;
}

#clear {
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  border: 0;
  background: transparent;
  color: #262626;
  opacity: 1;
}

/*Hover Underline Animation*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #262626;
  border-radius: 25px;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  border-radius: 25px;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #262626;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

/* Word Bump Hover */
.bump-element {
  transition: transform 0.5s ease-in-out;
}

.bump-element:hover {
  animation: bump 0.3s ease-in-out;
}

@keyframes bump {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-3px); /* Adjust the value as needed */
  }
}


