@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #78b3cf;
  }

  .container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    border-color: transparent;
    cursor: default;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-color: transparent;
    background-color: transparent;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }
  
  input[type="text"]:focus {
    outline: 0;
    box-shadow: 0px 5px 8px #888;
  }

  ul {
    user-select: none;
    font-family: 'Nunito' sans-serif;
    font-weight: bold;
    color: #737373;
  }

  .completed {
  text-decoration: line-through;
  color: #999;
  cursor: default;
}

.creation-date {
  font-size: 0.8em;
  color: #999;
  font-weight: bold;
}